<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340552807909-7u8halonjb1peasl0cco7ojfmk76tu85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340552807909-7u8halonjb1peasl0cco7ojfmk76tu85</string>
	<key>API_KEY</key>
	<string>AIzaSyDhNPNq97Ou0wkbzsZJrhs6CDwRiRMHRY0</string>
	<key>GCM_SENDER_ID</key>
	<string>340552807909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cisco.swiftui</string>
	<key>PROJECT_ID</key>
	<string>crewards-86662</string>
	<key>STORAGE_BUCKET</key>
	<string>crewards-86662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340552807909:ios:d672078fb6bf9ed9a12b0c</string>
	<key>DATABASE_URL</key>
	<string>https://crewards-86662.firebaseio.com</string>
</dict>
</plist>